@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f4f0;
  --foreground: #111110;
  --border: #e0dfd8;
  --surface: #ffffff;
  --muted: #a3a29c;
}

body {
  background: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #d0cfc8; }
::-webkit-scrollbar-thumb:hover { background: #b0afa8; }
